
    
    .background-light{
      background: #60a3bc;
      border: #FFFFFF;
    }
    .centrado {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 100%;
        margin: 0 auto 20px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .guia{
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 90%;
      margin: 0 auto 20px;
      padding: 15px 45px 15px 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border: 0px solid #000000;
  }
    .guia .color-green{
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 90%;
      padding: 10px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      margin-bottom: 10px; 
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border: 0px solid #000000;
  }
  
  .guia div{
      margin: 0 auto;
      padding: 10px;
      position: relative;
  }
  
  .guia p{
     font-weight: bold; 
  }
  
  .guia .color-gray{
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: gray;
      width: 90%;
      border: 0;
      padding: 10px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border: 0px solid #000000;
  
  }
  .centrado input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 70%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 103px 103px 103px 103px;
        -moz-border-radius: 103px 103px 103px 103px;
        -webkit-border-radius: 103px 103px 103px 103px;
}
.centrado #btn_enviar {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #F28705;
  width: 29%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 103px 103px 103px 103px;
  -moz-border-radius: 103px 103px 103px 103px;
  -webkit-border-radius: 103px 103px 103px 103px;
}
      
    
/**/
body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #dae0e6 !important;
		}
		.user_card {
			height: 320px;
			width: 300px;
			margin-top: auto;
			margin-bottom: auto;
			background: #f39c12;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #dae0e6;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
      border: 2px solid white;
      background: #FFFFFF;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
    }
    .navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
    